
@{
    ViewBag.Title = "Index";
}
   <div ng-controller="quotationController">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-8 col-md-2">
                <a class="btn btn-danger btn-sm" href="#/editQuotation" style="color:black">View/Edit Quotation <span class="glyphicon glyphicon-edit"></span></a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-success btn-sm" href="#/createQuotation" style="color:black" >Quotation Form   <span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
        <div class="row col-md-12 col-sm-12">
            <div ng-view >

            </div>
        </div>
    </div>
</div>
